@import "tailwindcss";

@theme {
    --color-neon-teal:   #54f4d0;
    --color-teal:        #1ED2AF;
    --color-blue:        #000061;
    --color-dark-blue:   #00003c;
    --color-darker-blue: #00002e;
    --color-red:         #d00414;
    --color-beige:       #f7f0dc;
    --color-offwhite:    #fef9e6;
}

@layer base {
    * {
        scrollbar-color: var(--color-neon-teal) var(--color-darker-blue);
    }
    *::-webkit-scrollbar-track {
        background: var(--color-darker-blue);
    }
    *::-webkit-scrollbar-thumb {
        background-color: var(--color-neon-teal);
        border-radius: 0.25rem;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-teal);
    }
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
