@import "tailwindcss";

@theme {
    --color-neon-teal: #79f2d0;
    --color-teal:      #1ED2AF;
    --color-blue:      #00003c;
    --color-red:       #d00414;
    --color-beige:     #f7f0dc;
    --color-offwhite:  #fef9e6;
}
